<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Weber-Elektronik</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <link rel="stylesheet" type="text/css" href="{{app.request.baseUrl}}/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{app.request.baseUrl}}/assets/css/app.css" />
        
        <!-- FONTS -->
        <script src="//use.edgefonts.net/abel:n4:all.js"></script>
    </head>
    <body>
        {#<div id="wrap">#}
            {% block app %}{% endblock %}            
        {#</div>#}
    </body>
    <script src="{{app.request.baseUrl}}/assets/js/lib/jquery-2.0.3.min.js"></script>
    <script src="{{app.request.baseUrl}}/assets/js/lib/handlebars-v1.1.2.js"></script>
    <script src="{{app.request.baseUrl}}/assets/js/lib/ember.min.js"></script>
    <script src="{{app.request.baseUrl}}/assets/js/lib/bootstrap.min.js"></script>
    <script src="{{app.request.baseUrl}}/assets/js/lib/livequery.js"></script>
    <script src="{{app.request.baseUrl}}/assets/js/app.js"></script>
</html>
